@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Manga<br />
    36628 Chene Drive<br />
    Sterling Heights, MI 48310<br />
    <abbr title="Phone">Phone:</abbr>
    313.703.0012
</address>


