@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<link href="/css/Contact.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-md-6">
      <div class="well"
        <address id="address">
            Ashran Bakth<br />
            Sterling Heights, MI 48310<br />
            <abbr title="Phone Number">Phone Number:</abbr>
            (313) 703-0012</br>
            Email: ashran893@gmail.com

        </address>
      </div>
        <div class="container">
          <form action="/action_page.php">
            
            <input type="text" id="fname" name="firstname" placeholder="Full Name">
            </br>

            <input type="text" id="lname" name="lastname" placeholder="Email">
            </br>

            <textarea id="subject" name="subject" placeholder="Your Message" style="height:200px"></textarea>
            </br>


           
            <input type="submit" value="Submit">
          </form>
        </div>


    </div>
    <div class="col-md-6">
        <div id="map">
            <script>
              function initMap() {
                var uluru = {lat: 42.561895, lng: -83.069811};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 10,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAR6f_mNKdm4_vfMEp3CXhpSGLs3WcZEM&callback=initMap">
            </script>

            
        </div>
    </div>
        
   
</div>



